@font-face{
	font-family: myfont, impact, sans-serif;:myFont;
	src: url(BebasNeue-Regular.ttf);
}
body{
	background-image: url(leaf.jpg);
	width:100%;
}
text1, text2, text3{
	margin-left: 40px;
}
#selector
{
	text-align: center;
	background-color:#ffffcc;
	width:80%;
    height: 100px;
	margin:auto;
	border-radius: 30px;
	opacity: 0.7;
}
#selector input[type="radio"] {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
	margin-left: 40px;
	margin-top: 40px;
	
}
#notarea
{
	text-align: center;
	background-color:#ffffcc;
	width:80%;
	margin:auto;
	border-radius: 30px;
	opacity: 0.7;
}
#notarea p{
	font-family: myfont, impact, sans-serif;
	font-size: 30px;
	
}
#headtitle{
	color: #fff;
	text-align:center;
	font-size: 40px;
	font-family: myfont, impact, sans-serif;
	opacity: 0.8;
	margin:auto;
	min-width:100%;
	margin-bottom:2px solid #fff;
	
}
.actions{
	width:75%;
	margin:auto;
}
.actions button{
	background-color: #4CAF50; /* Green */
	font-size: 100px;
	color: #001f33;
	font-family: myfont, impact, sans-serif;
	opacity: 0.8;
	margin:auto;
	min-width:100%;
	border-radius: 30px;
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 90%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	width: 100%;
}
#sendButton{
	width: 100%;
}
#ledOnButton{
	width: 100%;
}
#ledOffButton{
	width: 100%;
}